<!DOCTYPE html>
<html>
    <head>
        <title>Pulu - Login</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="fixed alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= message %>
        </div>
        <% } %>
        <div class="jumbotron jumbotron-fluid dgbg">
            <div class="container text-light">
                <div class="row v-center">
                    <div class="col-md-6">
                        <h1 class="display-3">Pulu</h1>
                        <p class="lead">Chat app made with Node.js and WebRTC</p>
                        <form action="/login" method="post">
                            <div class="form-group row">
                                <label for="username" class="col-sm-3 col-form-label col-form-label-lg">Username</label>
                                <div class="col">
                                    <input type="text" class="form-control form-control-lg" name="username" placeholder="John Doe" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password" class="col-sm-3 col-form-label col-form-label-lg">Password</label>
                                <div class="col">
                                    <input type="password" class="form-control form-control-lg" name="password" require>
                                </div>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-success right">Login</button>
                            </div>
                        </form>
                        <hr>
                        <p class="text-right">Don't have an account yet? <a href="#" data-toggle="modal" data-target="#signupModal">Signup</a></p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-jumbo" src="img/logo-big.png" alt="Pulululu">
                    </div>
                </div>
            </div>
        </div>
        <footer style="text-align: center">
            <p>Pulu is open source (MIT), you can get the source code from <a href="https://github.com/kaeki/sssf-project">GitHub</a></p>
        </footer>
        <div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Signup</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/signup" method="POST">
                    <div class="form-group row">
                        <label for="name" class="col-sm-3 col-form-label col-form-label-lg">Username</label>
                        <div class="col">
                            <input type="text" class="form-control form-control-lg" name="username" placeholder="John Doe" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="password" class="col-sm-3 col-form-label col-form-label-lg">Password</label>
                        <div class="col">
                            <input type="password" class="form-control form-control-lg" name="password" require>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success right">Signup</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
        

