<!DOCTYPE html>
<html>
    <head>
        <title>Pulu - Signup</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="container">
            <img src=""
            <h1 class="display-3">Pulu - Signup</h1>
            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>
            <form action="/signup" method="post">
                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label col-form-label-lg">Username</label>
                    <div class="col">
                        <input type="text" class="form-control form-control-lg" name="username" placeholder="John Doe" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label col-form-label-lg">Password</label>
                    <div class="col">
                        <input type="password" class="form-control form-control-lg" name="password" require>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-success right">Signup</button>
                </div>
            </form>
            <hr>
            <p class="text-right">Already have an account? <a href="/">Login</a></p>
        </div>
    </body>
</html>